.counters-block {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% bottom;

  @include for-tablet-landscape-up {
    height: rem-calc(337);
  }

  &__bg {
    &--mobile {
      background-position: center bottom;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(64);

    @include for-tablet-landscape-up {
      flex-direction: row;
    }
  }

  &__item {
    width: rem-calc(180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: rem-calc(30);
  }

  &__value {
    font-size: rem-calc(64);
    line-height: 1;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    margin-bottom: rem-calc(6);
  }

  &__information {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}