.form {
  max-width: rem-calc(774);
  margin: 0 auto;

  &__control {
    display: inline-block;
    width: 100%;

    label {
      font-size: rem-calc(16);
      color: $light-grey-text;
      display: block;
    }

    input {
      width: 100%;
      background-color: $white-color;
      color: $text-color;
      padding: rem-calc(20 10);
      margin-top: rem-calc(12);
      margin-bottom: rem-calc(18);
      border: 0;
      box-shadow: 0 rem-calc(3) transparentize($light-grey, .82);

      @include for-desktop-up {
        padding: rem-calc(16 10);
      }
    }

    textarea {
      width: 100%;
      background-color: $white-color;
      color: $text-color;
      padding: rem-calc(16 10);
      margin-top: rem-calc(12);
      margin-bottom: rem-calc(12);
      border: 0;
      height: rem-calc(161);
      box-shadow: 0 rem-calc(3) transparentize($light-grey, .82);
    }
  }

  &__container {
    display: flex;

    &--two-cols {
      flex-direction: column;

      @include for-tablet-landscape-up {
        justify-content: space-between;
        flex-direction: row;
      }

      .form__control {
        width: 100%;
        @include for-tablet-landscape-up {
          width: 49%;
        }
      }
    }
  }

  &__acceptance {
    span {
      font-size: rem-calc(12);
      color: $light-grey-text;
      line-height: 1.4;
    }

    .wpcf7-list-item {
      margin: 0;
      margin-bottom: rem-calc(10);
    }
  }

  &__submit {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(32);

    @include for-desktop-up {
      margin-top: rem-calc(20);
      width: 100%;
    }
  }

  .wpcf7-submit {
    display: inline-block;
    background-color: $primary-color;
    border: rem-calc(2) solid $primary-color;
    cursor: pointer;
    font-size: rem-calc(16);
    font-weight: 400;
    text-decoration: none;
    color: $white-color;
    padding: rem-calc(15);
    transition: all 0.3s ease;
    width: rem-calc(200);
    text-align: center;

    &:hover {
      background: $white-color;
      color: $primary-color;
    }
  }

  .wpcf7-spinner {
    display: none;
  }

  input[type="checkbox"] {
    opacity:0;
    position: absolute;
    left: rem-calc(-9999);
  }

  span.wpcf7-list-item span::before{
    content: "";
    display: inline-block;
    height: rem-calc(16);
    width: rem-calc(16);
    border: rem-calc(1) solid $light-grey;
    flex-shrink: 0;
  }
  span.wpcf7-list-item span::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: rem-calc(6);
    width: rem-calc(9);
    border-left: rem-calc(2) solid;
    border-bottom: rem-calc(2) solid;
    transform: rotate(-45deg);
  }

  span.wpcf7-list-item span {
    position: relative;
    display: flex;
  }

  /*Outer-box*/
  span.wpcf7-list-item span::before {
    margin-top: rem-calc(3);
    margin-right: rem-calc(10);
    flex-shrink: 0;

  }
  /*Checkmark*/
  span.wpcf7-list-item span::after {
    left:rem-calc(4);
    top: rem-calc(5);
    content: none;
  }

  /*Unhide the checkmark on the checked state*/
  span.wpcf7-list-item input[type="checkbox"]:checked + span::after{
    content: "";
  }
  /*Adding focus styles on the outer-box of the fake checkbox*/
  span.wpcf7-list-item input[type="checkbox"]:focus + span::before {
    outline: 0;
  }
}






