.what-we-do {
  padding-bottom: rem-calc(42);
  @include for-tablet-landscape-up {
    padding-bottom: 0;
  }
  &__headline {
    margin-bottom: rem-calc(16);
    @include for-tablet-landscape-up {
      margin-bottom: rem-calc(96);
    }
  }

  &__content-container {
    @include for-tablet-landscape-up {
      background-color: transparentize($background-color, .8);
      padding-bottom: rem-calc(30);
    }
  }
}