/******* Variables******/

/* Colors */

$primary-color: #9dcd48;
$text-color: #474747;
$light-grey-text: #9e9fa2;

$white-color: #ffffff;
$black-color: #000000;
$light-grey: #d4d4d4;
$input-border: #d0d0d0;

$tabs-bg: #f7f7f7;
$grey: #979797;
$background-color: #d8d8d8;

